<% provide(:title, "Help") %>
<h1><%= t('help') %></h1>
<p>
  <a href="http://railstutorial.jp/help">Rails Tutorial help section</a>
  <%= t('get_help_on_the_ruby_on_rails_tutorial') %>
  <a href="http://railstutorial.jp"><em>Ruby on Rails Tutorial</em>
  book</a>
  <%= t('get_help_on_this_sample_app') %>
</p>