<% provide(:title, "Log in") %>
<h1>Log in</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label t('email') %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label t('password') %>
      <%= link_to t('.forgot_password'), new_password_reset_path %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :remember_me, class: "checkbox inline" do %>
        <%= f.check_box :remember_me %>
        <span><%= t('.remember_me_on_this_computer') %></span>
      <% end %>

      <%= f.submit "Log in", class: "btn btn-primary" %>
    <% end %>

    <p><%= t('.new_user?') %> <%= link_to t('.sign_up_now'), signup_path %></p>
  </div>
</div>