<% provide(:title, "Forgot password") %>
<h1><%= t('.forgot_password') %></h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:password_reset, url: password_resets_path) do |f| %>
      <%= f.label t('email') %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.submit t('submit'), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>