<% provide(:title, "Edit user") %>
<h1><%= t('.update_your_profile') %></h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label t('name') %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label t('email') %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label t('password') %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label t('password_confirmation') %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit t('.save_change'), class: "btn btn-primary" %>
    <% end %>

    <div class="gravatar_edit">
      <%= gravatar_for @user %>
      <a href="http://gravatar.com/emails"><%= t('.change') %></a>
    </div>
  </div>
</div>